{% load static %}
<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Магазин</title>
    <link rel="stylesheet" type="text/css" href="{% static 'examp.css' %}">
  </head>
  <body>

    <div class="space">
        <div class="header">
            <a href="/" class="back_button">&#8592 Вернуться в каталог</a>
        </div>
        <div class="card_container">
          {% for set in data.card.sets %}
            {% for product in data.products %}
              {% if product.id == set.id %}
                {% include 'card_item.html' with element=product %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
    </div>
  </body>
</html>