{% load static %}
<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Магазин</title>
    <link rel="stylesheet" type="text/css" href="{% static 'examp.css' %}">
  </head>
  <body>

    <div class="space">
        <div class="header" style="margin-bottom: 30px;">
          <a href="/" class="back_button">&#8592 Вернуться в каталог</a>
        </div>
        
        <div class = "prod_page_container">
          <img src="{{product.img}}" class = "prod_page_half">
          <div class="prod_page_half">
            <div class="prod_page_title">{{product.title}}</div>
            <div class="prod_page_cost">{{product.cost}} р.</div>
            <div class="prod_page_description">
              <b>Описание </b><br>
              {{product.long_description}}
              <div class="prod_page_description">
                {% for str in product.specification %}
                  {{str}} <br>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>