{% load static %}
<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Магазин</title>
    <link rel="stylesheet" type="text/css" href="{% static 'examp.css' %}">
  </head>
  <body>

    <div class="space">
        <div class="header">
          <div class = "card_button">
            <a href="/card">
            <img class = "image" src="https://optim.tildacdn.com/tild6131-3961-4264-b230-396236303062/-/resize/120x/-/format/webp/icons8--100_1.png">
            </a>
          </div>
        </div>
        <form action="searchProduct" method="post" enctype="multipart/form-data" class="search">
          {% csrf_token %}
          <input name="text" type="text" class="search_input" value="{{data.searchText}}"><br><br>
          <input type="submit" value="ПОИСК" class="search_button">
        </form>
        <div class="container">
            {% for product in data.products %}
                {% include 'product_card.html' with element=product %}
            {% endfor %}
        </div>
    </div>
  </body>
</html>