{% load static %}
<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Магазин</title>
    <link rel="stylesheet" type="text/css" href="{% static 'examp.css' %}">
  </head>
  <body>
    <div class="space">
        <div class="header"></div>
          <div class="container">
              {% for product in data.products %}
                  {% include 'product_card.html' with element=product %}
              {% endfor %}
          </div>
    </div>
  </body>
</html>